<template>
  <div>
    <h1>Todotool</h1>
    <ul>
      <li v-for="(todo, i) in todos" :key="i">
        <input type="checkbox" v-model="todo.completed" />
        {{ todo.taskName }}
        <input
          type="text"
          v-model="renameTask"
          v-if="todo.isEdit"
          placeholder="タスク名を変更してください"
        />
        <button @click="saveTask(i)" v-if="todo.isEdit">保存</button>
        <button @click="editTask(i)">編集</button>
        <button @click="deleteTask(i)">削除</button>
      </li>
    </ul>
    <div style="text-align: center">
      <input
        type="text"
        v-model="newTask"
        placeholder="タスク名を入力してください"
      />
      <button @click="addTask">追加</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
interface Todos {
  id: number;
  taskName: string;
  completed: boolean;
  isEdit: boolean;
}

@Component
export default class Todotool extends Vue {
  todos: Todos[] = JSON.parse(localStorage.getItem("MyTodos") as string);
  maxId = 0;
  newTask = "";
  renameTask = "";
  "" = "";

  saveToStorage() {
    localStorage.setItem("MyTodos", JSON.stringify(this.todos));
  }

  addTask(): void {
    // テスト関数
    // window.alert("hello");
    if (this.newTask.trim() === "") {
      alert("タスク名を入力してください");
    } else {
      this.todos.push({
        id: this.maxId,
        taskName: this.newTask,
        completed: false,
        isEdit: false,
      });
      this.newTask = "";
      this.maxId++;
    }
    this.saveToStorage();
  }

  deleteTask(i: number): void {
    this.todos.splice(i, 1);
    this.saveToStorage();
  }

  editTask(i: number): void {
    this.todos[i].completed = !this.todos[i].completed;
    this.saveToStorage();
  }

  saveTask(i: number): void {
    if (this.renameTask.trim() === "") {
      alert("タスク名を入力してください");
    } else {
      this.todos[i].taskName = this.renameTask;
      this.renameTask = "";
      this.todos[i].completed = !this.todos[i].completed;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: list-item, inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
