<template>
  <div id="app">
    <Todotool />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Todotool from "./components/Todotool.vue";

@Component({
  components: {
    Todotool,
  },
})
export default class App extends Vue {}
</script>

<style lang="stylus">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
